/.gitee/
/.vscode/
/.idea/
/cmake-build-debug/
*.a
*.o
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.sgml
*.log
*.inc
*.rej

objfiles.txt

/tmp_build/
/output/
/mppdb_temp_install/
/GNUmakefile
/config.status
/ereport.txt

/build/script/version.cfg